<section class="about" id="about">
    <div class="about-content">
        <div class="about-left"><br>
            <div class="title">
                <h1 class="about-title">read our story</h1>
                <h2 class="about-text">we've been making delicious food since 2000</h2>
                <p class="para-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quas nam quod porro repellendus, incidunt vel ad, provident ea ratione voluptas, adipisci debitis quia! Maiores ipsam earum amet aperiam! Suscipit!</p>
                <p class="para-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa blanditiis aperiam quaerat vel beatae ea natus doloribus. Doloribus molestiae mollitia facilis architecto, saepe pariatur, deleniti quia sit cum asperiores et.</p>
            </div>
        
        </div>
        <div class="about-right">
            <img src="/css/images/chef.jpg" alt="chef image">
        </div>
    </div>
</section>