<section class="contact" id="contact">
    <div class="contact-content">
        <div class="left">
            <div class="contact-info">
                <h1 class="maps-title">Find us on map</h1>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d182679.13234702297!2d23.666581347679607!3d44.323076350632654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4752d70e6d6dcd07%3A0x4650f2eadbde99f9!2sCraiova!5e0!3m2!1sro!2sro!4v1615905509438!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="right">
            <div class="contact-form">
                <form class="form">
                    <h1 class="contact-heading">Contact us</h1>
                    <div class="form-group">
                        <input type="text" class="input" id="name" placeholder="Name..." required>
                        <label for="name">Name</label>
                    </div>
                    <div class="form-group">
                        <input type="email" class="input" id="email" placeholder="Email..." required>
                        <label for="email">Email</label>
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="input textarea" placeholder="Message..." required></textarea>
                        <label for="">Message</label>
                    </div>
                    <a href="#" class="contact-btn">Submit</a><br>
                <div class="contact-list">
                    <ul>
                        <li>Phone: 0766666666</li>
                        <li>Email: goodfood@gmail.com</li>
                    </ul>
                </div>
                </form>
            </div>

        </div>
    </div>
</section>