<div class="header-container">
    <div class="header-box">
        <h1 class="heading-primary">
            Best <br> <span id="restaurant">Restaurant</span> <br> in town
        </h1>
        <p class="lead">Try us</p>
        <a class="book-now" asp-area="" asp-controller="Reservation" asp-action="Create">Book Now</a>
    </div>
</div>