@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <br />
    <br />
    <br /><br /><br />
    <br />
    <br />
</header>
<div>
    <br />
    <br />
    <br />
    <br /><br /><br /><br /><br /><br /><br />
    <br />
    <br />
    <br /><br />

    <h1 class="book-heading">@ViewData["Title"]</h1>
    <p class="text-black-50">You do not have access to this resource.</p>
</div>
